
h1, h4, h5, {
  font-size: 30px;
    font-family:'Open Sans',sans-serif;
  font-color:#999;
}

 a{ font-size: 20px;
  font-family:'Open Sans',sans-serif;
    font-color:darkgrey;
 }
/*h4::first-letter {
    color: #ff0000;
    font-size: xx-large;
}*/

/*div.container {
  background-color: lightgray;
    width: 80%;
    padding: 25px;
    margin: 25px;*/
}
#bio-image{
    width: 200px;
    height:200px;
}

#footer{
  background-color:lightgrey;
